footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
  padding: 15px;
  background-color: #efefef;
  color: #141414;
  margin-bottom: 5px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  footer {
    margin-bottom: 0px;
  }
}

.footer-link-wrapper {
  padding-right: 1vw;
  text-align: center;
}

.footer-link-wrapper a {
  color: #141414;
  text-decoration: none;
  margin: 0.5em;
}

.footer-link-wrapper a:hover {
  color: #555555;
}

